@page
@model SmukToolsApp.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container">

<h1>Edit Event</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.id" />
            <div class="form-group">
                <label class="control-label">Project</label>
                <select asp-for="Event.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="Event.ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Event Title</label>
                <input asp-for="Event.title" class="form-control" />
                <span asp-validation-for="Event.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input asp-for="Event.StartDate" class="form-control" />
                <span asp-validation-for="Event.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> End Date</label>
                <input asp-for="Event.EndDate" class="form-control" />
                <span asp-validation-for="Event.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
