@page
@model CRUDDemoModel
@{
ViewData["Title"] = "Home page";
}


<link href="~/css/Calendar.css" rel="stylesheet" type="text/css" />
<div class="col-4 offset-4 text-center" id="spinner" style="display:none;">
    <div class="sp sp-3balls"></div>
</div>
<div id='crudcalendar' class="">

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>
    // Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
    // for details on configuring this project to bundle and minify static web assets.

    // Write your Javascript code.

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('crudcalendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'resourceTimeline'],
            now: '@DateTime.Now.ToString("yyyy-MM-dd")',
            editable: true,
            eventResize: function (info) {
                document.getElementById("spinner").style.display = "block";
                EditRequest(`/api/bookings/${info.event.id}`, {
                    "startDate": info.event.start.toISOString(),
                    "endDate": info.event.end.toISOString(),
                    "Id": info.event.id
                }).then(x => alert("Event Updated!"));
                document.getElementById("spinner").style.display = "none";

            },
            eventClick: function (info) {
                GetData(`/api/bookings/${info.event.id}`).then(response => ShowModel(response));
            },
            //now: $nowDate,
            locale: "da-DK",
            nowIndicator: true,
            aspectRatio: 1.2,
            //height: 300,
            navLinks: true,
            displayEventTime: false,
            scrollTime: '00:00',
            firstDay: 1, //monday
            weekNumbers: true,
            header: {
                left: 'today prev,next',
                center: 'title',
                right: 'timelinePeriod,resourceTimelineDay,resourceTimelineThisMonths,timeGridWeek'
            },
            //defaultView: 'resourceTimelineDay',
            defaultView: 'resourceTimelineThisMonths',
            views: {
                resourceTimelineThisMonths: {
                    type: 'resourceTimeline',
                    duration: {
                        days: @Model.DaysInMonth
                    },
                    buttonText: 'Month'
                },
                timelinePeriod: {
                    type: "timeline",
                    buttonText: "periode",
                    slotLabelFormat: ["MMMM", "D", "dd"],
                }
            },
            resourceAreaWidth: '15%',
            resourceColumns: [{
                    labelText: 'Tool',
                    field: 'title'
                },
                {
                    labelText: 'Status',
                    field: 'status'
                }
            ],
            resources: @Html.Raw(Model.Resources),
            events: @Html.Raw(Model.Bookings)
        });
        calendar.setOption('height', window.innerHeight - 100);

        calendar.render();
    });

    $('#btnSave').click(function () {
        //Validation/
        if ($('#txtSubject').val().trim() == "") {
            alert('Subject required');
            return;
        }
        if ($('#txtStart').val().trim() == "") {
            alert('Start date required');
            return;
        }
        if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
            alert('End date required');
            return;
        } else {
            var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
            var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
            if (startDate > endDate) {
                alert('Invalid end date');
                return;
            }
        }

        var data = {
            EventID: $('#hdEventID').val(),
            Subject: $('#txtSubject').val().trim(),
            Start: $('#txtStart').val().trim(),
            End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
            Description: $('#txtDescription').val(),
            ThemeColor: $('#ddThemeColor').val(),
            IsFullDay: $('#chkIsFullDay').is(':checked')
        }
        SaveEvent(data);
        // call function for submit data to the server
    })
</script>